@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@page {
  size: 200mm 242.5mm;
  margin: 0;
}

@media print {
  html, body {
    width: fit-content;
    height: fit-content;
  }

  main {
    margin: 0 !important;
  }

  nav {
    display: none !important;
  }

  :root {
    font-size: 18px !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  min-width: 320px;
  background-color: var(--main-bg-color);
}

:root {
  font-size: 10px;

  --main-bg-color: #181820;

  --main-foreground-color: #202026;
  --main-foreground-accent-color: #303038;

  --main-text-color: #e8e8e8;
  --main-text-accent-color: #9ff;

  --light-text-washed-color: #777;

  --dotnet-color: #512bd4;
  --golang-color: #74cddd;
  --react-color: #61dafb;

  --github-tag-color: #fff;
  --swagger-tag-color: #baf388;
  --graphql-tag-color: #f6b2e0;
  --tag-text-color: #000;
}

@media only screen and (min-width: 400px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (min-width: 500px) {
  :root {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    font-size: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}